html,
body {
  padding: 0;
  margin: 0;
  font-family: Heebo, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  background-color: whitesmoke !important;
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: unset !important;
  text-transform: capitalize !important;
}

@media only screen and (max-width: 1024px) {
  .strategyVideo > video {
    height: fit-content;
  }

  .strategyData {
    font-size: 1rem !important;
  }

/* for all the heading on the HomePage */
  h1 {
    width: unset !important;
    font-family: fantasy, Abel, sansSerif;
    font-size: 25px;
  }
}