.navBarPosition {
  background-color: whitesmoke;
}

.marginTop {
  margin-top: 10px;
}
.heading {
  font-family: Abel, sansSerif, fantasy;
  color: black;
}

@media screen and (min-width: 1024px) {
  .fullScreenWidth {
    // width: 100%;
    width: -webkit-fill-available;
  }
  .coverCardStyle {
    position: absolute;
    width: 70rem;
    opacity: 0.6;
    margin-top: 400px;
    margin-left: 50px;
  }

  .secondCardStyle {
    position: absolute;
    width: 70rem;
    opacity: 0.6;
    margin-top: 300px;
    margin-left: 50px;
  }

  .careerCard {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .fullScreenWidth {
    width: 100%;
    height: 300px;
    // width: -webkit-fill-available;
  }
  .coverCardStyle {
    position: absolute;
    width: fit-content;
    opacity: 0.6;
    margin-top: 230px;
    margin-left: 50px;
  }

  .secondCardStyle {
    //position: absolute;
    width: fit-content;
    margin-top: 40px;
    // opacity: 0.7;
    // margin-top: 200px;
    // margin-left: 50px;
  }

  .careerCard {
    display: contents;
  }
}
