.navBarPosition {
  background-color: whitesmoke;
}

.marginTop {
  margin-top: 10px;
}
.heading {
  font-family: Abel, sansSerif, fantasy;
  color: black;
  // background: linear-gradient(175deg, teal 60%, cyan);

  //   background-image: linear-gradient(
  //   to left,
  //   violet,
  //   indigo,
  //   blue,
  //   green,
  //   yellow,
  //   orange,
  //   red
  // );
}
