.paper {
  padding: 2;
  text-align: "left";
  // color: theme.palette.text.secondary;
  color: "white !important";
  background-color: "transparent !important";
}

.margin {
    margin-right: 3rem !important;
    color: white !important;
    border-color: yellow !important;
}